@if (ViewBag.authW)
{
    String weekchecked = "";
    String datechecked = "";
    <script>
        $(document).ready(function () {
            $("#imgSetDeliveryDateFormat").fadeOut();

            $('input[type=radio][name=rdDeliveryDateFormat]').change(function () {
            var newval = this.value;
                $("#imgSetDeliveryDateFormat").fadeIn();
                if (newval == "0" || newval == "1") {
                    $.ajax({
                        url: "@Url.Action("setDeliveryDateFormat", "DepartmentsConfig")",
                        type: 'POST',
                        data: {
                            DepartmentID: @ViewBag.DepartmentID,
                            DateType: newval
                        },
                        success: function (result) {
                            $("#imgSetDeliveryDateFormat").fadeOut();
                        },
                        error: function (result) { $("#imgSetDeliveryDateFormat").fadeOut(); alert("Error " + result); },
                        warning: function (result) { $("#imgSetDeliveryDateFormat").fadeOut(); alert("Warning " + result); },
                    });
                }
                else {
                    alert("Invalid value");
                }
            });
        });
    </script>
    <div>
        @if (ViewBag.DeliveryDateFormat == 1)
        {
            weekchecked = "checked";
        }
        else
        {
            datechecked = "checked";
        }
        <h5>@resDepartmentsConfig.getDeliveryDateFormat.lblTitle</h5>
        <input type="radio" id="rdDeliveryDateFormat" name="rdDeliveryDateFormat" value="0" @datechecked />@resDepartmentsConfig.getDeliveryDateFormat.lblDate<br />
        <input type="radio" id="rdDeliveryDateFormat" name="rdDeliveryDateFormat" value="1" @weekchecked />@resDepartmentsConfig.getDeliveryDateFormat.lblWeek<br />
        <img src="~/img/iconLoading.gif" id="imgSetDeliveryDateFormat" style="min-width:20px; max-width:20px;" />
    </div>
}