@if(ViewBag.authW)
{
    String weekchecked = "";
    String datechecked = "";
    <script>
        $(document).ready(function () { 
            $("#imgSetEndProductionDateFormat").fadeOut();

            $('input[type=radio][name=rdEndProductionDateFormat]').change(function () {
            var newval = this.value;
            $("#imgSetEndProductionDateFormat").fadeIn();
                if (newval == "0" || newval == "1") {
                    $.ajax({
                        url: "@Url.Action("setEndProductionDateFormat", "DepartmentsConfig")",
                        type: 'POST',
                        data: {
                            DepartmentID: @ViewBag.DepartmentID,
                            DateType: newval
                        },
                        success: function (result) {
                            $("#imgSetEndProductionDateFormat").fadeOut();
                        },
                        error: function (result) { $("#imgSetEndProductionDateFormat").fadeOut(); alert("Error " + result); },
                        warning: function (result) { $("#imgSetEndProductionDateFormat").fadeOut(); alert("Warning " + result); },
                    });
                }
                else {
                    alert("Invalid value");
                }
            });
        });
    </script>
    <div>
        @if (ViewBag.EndProductionDateFormat == 1)
        {
            weekchecked = "checked";
        }
        else
        {
            datechecked = "checked";
        }
        <h5>@resDepartmentsConfig.getEndProductionDateFormat.lblTitle</h5>
        <input type="radio" id="rdDeliveryDateFormat" name="rdEndProductionDateFormat" value="0" @datechecked />@resDepartmentsConfig.getEndProductionDateFormat.lblDate<br />
        <input type="radio" id="rdDeliveryDateFormat" name="rdEndProductionDateFormat" value="1" @weekchecked />@resDepartmentsConfig.getEndProductionDateFormat.lblWeek<br />
        <img src="~/img/iconLoading.gif" id="imgSetEndProductionDateFormat" style="min-width:20px; max-width:20px;" />
    </div>
}