@model IEnumerable<KIS.App_Sources.DepartmentKPIsStruct>

@if (Session["user"] != null && Model!=null && Model.Count()>=0)
{
    <div class="row-fluid">
        <div class="span12"><h3>@ResGetGlobalKPIs.GetGlobalKPIs.lblTitle</h3></div>
    </div>
    <div class="row-fluid">
        <div class="span12"><b>@ResGetGlobalKPIs.GetGlobalKPIs.lblGlobal</b>&nbsp;-&nbsp;<a href="~/Analysis/ProductAnalysis/Index">@ResGetGlobalKPIs.GetGlobalKPIs.lblViewAllIndicators</a></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table table-hover table-striped" width="100%">
                <thead>
                    <tr>
                        <th style="text-align: center;"></th>
                        <th style="text-align: center;"></th>
                        <th style="text-align: center;">@ResGetGlobalKPIs2.GetGlobalKPIs2.lblProductivity</th>
                        <th style="text-align: center;">@ResGetGlobalKPIs2.GetGlobalKPIs2.lblDelay</th>
                        <th style="text-align: center;">@ResGetGlobalKPIs2.GetGlobalKPIs2.lblLeadTime</th>
                        <th style="text-align: center;">@ResGetGlobalKPIs2.GetGlobalKPIs2.lblQuantity</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        List<KIS.App_Sources.DepartmentKPIsStruct> currList = new List<KIS.App_Sources.DepartmentKPIsStruct>();
                        foreach (var m in Model)
                        {
                            currList.Add(m);
                        }

                        for (int i = 0; i < currList.Count; i += 2)
                        {
                    <tr>
                        <td style="vertical-align:middle;" rowspan="3"><b>@currList[i].DepartmentName</b></td>
                        <td>@ResGetGlobalKPIs2.GetGlobalKPIs2.lblCurrentWeek</td>
                        <td style="text-align: center;">@Math.Round(100 * currList[i+1].Productivity, 2)%</td>
                        <td style="text-align: center;">@Math.Round(currList[i+1].Delay, 2)</td>
                        <td style="text-align: center;">@Math.Round(currList[i+1].LeadTime, 2)</td>
                        <td style="text-align: center;">@Math.Round(currList[i+1].Quantities, 2)</td>
                    </tr>
                    <tr>
                        <td>@ResGetGlobalKPIs2.GetGlobalKPIs2.lblLastWeek</td>
                        <td style="text-align: center;">@Math.Round(100 * currList[i].Productivity, 2)%</td>
                        <td style="text-align: center;">@Math.Round(currList[i].Delay, 2)</td>
                        <td style="text-align: center;">@Math.Round(currList[i].LeadTime, 2)</td>
                        <td style="text-align: center;">@Math.Round(currList[i].Quantities, 2)</td>
                    </tr>
                    <tr>
                        <td>@ResGetGlobalKPIs2.GetGlobalKPIs2.lblVariation</td>
                        @if (currList[i].Productivity > 0)
                        {
                            var prodBgColor = (currList[i].Productivity < currList[i + 1].Productivity) ? "#FF0000" : "#00FF00";
                            <td style="text-align: center;"><div style="background-color: @prodBgColor;font-size:18px;"><b>@Math.Round(100 * (currList[i + 1].Productivity - currList[i].Productivity) / currList[i].Productivity, 2)%</b></div></td>
                        }
                        else
                        {
                            <td style="text-align: center;"><div><b style="font-size:18px;">-</b></div></td>
                        }

                        @if (currList[i].Delay > 0)
                        {
                            var delayBgColor = (currList[i].Delay <= currList[i + 1].Delay) ? "#FF0000" : "#00FF00";
                            <td style="text-align: center;"><div><b style="background-color: @delayBgColor;font-size:18px;">@Math.Round(100 * (currList[i + 1].Delay - currList[i].Delay) / currList[i].Delay, 2)%</b></div></td>
                        }

                        else
                        {
                            <td style="text-align: center;"><div><b style="font-size:18px;">-</b></div></td>
                        }
                        @if (currList[i].LeadTime > 0)
                        {

                            var ltBgColor = (currList[i].LeadTime < currList[i + 1].LeadTime) ? "#FF0000" : "#00FF00";
                            <td style="text-align: center;"><div><b style="background-color: @ltBgColor;font-size:18px;">@Math.Round(100 * (currList[i + 1].LeadTime - currList[i].LeadTime) / currList[i].LeadTime, 2)%</b></div></td>
                        }

                        else
                        {
                            <td style="text-align: center;"><div><b style="font-size:18px;">-</b></div></td>
                        }
                        @if (currList[i].Quantities > 0)
                        {

                            var qtyBgColor = (currList[i].Quantities > currList[i + 1].Quantities) ? "#FF0000" : "#00FF00";
                            <td style="text-align: center;"><div><b style="background-color: @qtyBgColor;font-size:18px;">@Math.Round(100 * (currList[i + 1].Quantities - currList[i].Quantities) / currList[i].Quantities, 2)%</b></div></td>
                        }

                        else
                        {
                            <td style="text-align: center;"><div><b style="font-size:18px;">-</b></div></td>
                        }
                    </tr>
                            }
                        }
                    </tbody>
                </table>
        </div>
    </div>
}
