@model IEnumerable<KIS.App_Sources.Workspace>
@{
    ViewBag.Title = ResAccountMgm.ListWorkspaces.lblTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ResAccountMgm.ListWorkspaces.lblTitle</h3>
@if (ViewBag.authR)
{
    if(Model != null)
    {
<script>
            $(document).ready(function () {
                $("#wslist").on("click", ".btnSwitchWs", function () {
                    var wsid = $(this).prop("id").split('_');
                    console.log("Change to " + wsid[1]);
                    $("#imgLoadScrollView").fadeIn();
                    $.ajax({
                        url: "@Url.Action("changeWorkspace", "Account")",
                        type: 'GET',
                        data: {
                            wsid: wsid[1],
                        },
                        dataType: 'html',
                        success: function (result) {
                            console.log(result);
                            if (result == "1") {
                                window.location.href = window.location.href;
                            }
                        },
                        error: function (result) { $("#imgLoadScrollView").fadeOut(); alert("Error loadScrollTypeView" + result); },
                        warning: function (result) { $("#imgLoadScrollView").fadeOut(); alert("Warning loadScrollTypeView" + result); },
                    });
                });

                function loadAddWorkspaceForm() {
                    $.ajax({
                        url: "@Url.Action("AddWorkspaceForm", "Account")",
                        type: 'POST',
                        data: {
                        },
                        dataType: 'html',
                        success: function (result) {
                            console.log(result);
                            $("#dvWsForm").html(result);
                        },
                        error: function (result) { console.log("Error loadAddWorkspaceForm" + result); },
                        warning: function (result) { console.log("Warning loadAddWorkspaceForm" + result); },
                    });
                }

                loadAddWorkspaceForm();
            });
</script>
        <div class="row-fluid">
            <div class="span12">
                <ul class="list-group" id="wslist">
                    @foreach (var m in Model)
                    {
                        if (ViewBag.ActiveWorkspace != m.Name)
                        {
                            <li class="list-group-item">
                                <a href="WorkspaceDetail?id=@m.id">@m.Name</a> -
                                <span class="material-icons btnSwitchWs" style="cursor:pointer;" id="btnSwitchWs_@m.id">login</span>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item">
                                <a href="WorkspaceDetail?id=@m.id">@m.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="dvWsForm"></div>
            </div>
        </div>
    }
}
else
{
    <div class="row-fluid">
        <div class="span12">
            @ResAccountMgm.ListWorkspaces.lblNotAuthorized
        </div>
    </div>
}