@model IEnumerable<KIS.App_Code.TaskParameter>
<h3>@ResFinishedProducts.ProductTasksParametersList.lblTitle</h3>
@if (ViewBag.authR)
{
    if (Model != null && Model.Count() > 0)
    {
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>@ResFinishedProducts.ProductTasksParametersList.lblTHParamID</th>
                            <th>@ResFinishedProducts.ProductTasksParametersList.lblTHParamCategory</th>
                            <th>@ResFinishedProducts.ProductTasksParametersList.lblTHName</th>
                            <th>@ResFinishedProducts.ProductTasksParametersList.lblTHDescription</th>
                        </tr>
                    </thead>
                    @foreach (var m in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@m.ParameterID</td>
                                <td>@m.ParameterCategory.Name</td>
                                <td>@m.Name</td>
                                <td>@m.Description</td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                @ResFinishedProducts.ProductTasksParametersList.lblNoParameters
            </div>
        </div>
    }
}
else
{
    <div class="row-fluid">
        <div class="span12">
            @ResFinishedProducts.ProductTasksParametersList.lblErrNoAuth
        </div>
    </div>
}

