@model  IEnumerable<KIS.App_Code.Articolo>

@if (ViewBag.authEditProductData || ViewBag.authPlanProduction)
{
    if (Model != null && Model.Count() > 0)
    {
        <script>
                $(document).ready(function () {
                    $(function () {
                        //$("[id*=txtDeliveryDate]").datepicker({ dateFormat: 'dd/mm/yy' })
                        $("[id*=txtDeliveryDate]").datepicker({
                            dateFormat: 'dd/mm/yy',
                            showWeek: true,
                            firstDay: 1,
                            minDate: 'today'
                        });
                    });
                    $(function () {
                        $("[id*=txtEndProductionDate]").datepicker({
                            dateFormat: 'dd/mm/yy',
                            showWeek: true,
                            firstDay: 1,
                            minDate: 'today'
                        });
                    });

                    $(".imgSave").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            var deliveryDateStr = $("#txtDeliveryDate_" + currProd[0] + "-" + currProd[1]).val();
                            var deliveryDateArr = deliveryDateStr.split('/');
                            var deliveryDate = new Date(deliveryDateArr[2], deliveryDateArr[1] - 1, deliveryDateArr[0]);

                            var quantity = $("#txtQuantity_" + currProd[0] + "-" + currProd[1]).val();
                                if (deliveryDate > (new Date()) && $.isNumeric(quantity)) {
                                    $(this).fadeOut();
                                    $.ajax({
                                        url: "@Url.Action("EditProduct", "SalesOrder")",
                                        type: 'POST',
                                        data: {
                                            ProductID: currProd[0],
                                            ProductYear: currProd[1],
                                            Quantity: quantity,
                                            DeliveryDate: deliveryDate.getFullYear() + "-" + (deliveryDate.getMonth() + 1) + "-" + deliveryDate.getDate()
                                        },
                                        success: function (data) {
                                            if (data == "1") {
                                                // ok
                                                $("#lblModalInfo").html("@ResListOrderProduct.ListOrderProduct.lblDialogEditOk");
                                                $("#lblModalInfo").dialog({
                                                    modal: true,
                                                    title: "Info",
                                                    //width: 300,
                                                    //height: 150,
                                                    open: function (event, ui) {
                                                        setTimeout(function () {
                                                            $("#lblModalInfo").dialog("close");
                                                        }, 2000);
                                                    }
                                                });
                                                $(this).fadeIn();
                                            }
                                            else if (data == "2") { alert("@ResListOrderProduct.ListOrderProduct.lblUserNotAuthorized"); $(this).fadeIn();}
                                            else if (data == "3") { alert("@ResListOrderProduct.ListOrderProduct.lblProductNotFound"); $(this).fadeIn(); }
                                            else if (data == "4") { alert("@ResListOrderProduct.ListOrderProduct.lblErrInvalidQuantity"); $(this).fadeIn(); }
                                            else if (data == "5") { alert("@ResListOrderProduct.ListOrderProduct.lblDateError3"); $(this).fadeIn(); }
                                        },
                                        statusCode: {
                                            404: function (content) { alert('cannot find resource'); $(this).fadeIn();},
                                            500: function (content) { alert('internal server error'); $(this).fadeIn();}
                                        },
                                        error: function (data) {
                                            alert("@ResListOrderProduct.ListOrderProduct.lblGenericError");
                                            $(this).fadeIn();
                                        }

                                    });
                                    $(this).fadeIn();
                                }
                                else {
                                    alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                                }
                            }
                    });

                    $(".imgDelete").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            $.ajax({
                                url: "@Url.Action("DeleteProductFromSalesOrder", "SalesOrder")",
                                type: 'POST',
                                data: {
                                    OrderID: currProd[0],
                                    OrderYear: currProd[1]
                                },
                                success: function (data) {
                                    if (data == "1") {
                                        $("#trproduct_" + currProd[0] + "-" + currProd[1]).remove();
                                    }
                                    else if (data == "2") { alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); }
                                    else if (data == "3") { alert("@ResListOrderProduct.ListOrderProduct.lblUserNotAuthorized"); }
                                    else if (data == "4") { alert("@ResListOrderProduct.ListOrderProduct.lblInputError"); }
                                    else if (data == "5") { alert("@ResListOrderProduct.ListOrderProduct.lblProductNotFound"); }
                                    else if (data == "0") { alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); }
                                },
                                statusCode: {
                                    404: function (content) { alert('cannot find resource'); },
                                    500: function (content) { alert('internal server error'); }
                                },
                                error: function (data) {
                                    alert("Error");
                                }

                            });
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });

                    $(".imgUndo").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            $.ajax({
                                url: "@Url.Action("UndoProductSchedule", "SalesOrder")",
                                type: 'POST',
                                data: {
                                    ProductID: currProd[0],
                                    ProductYear: currProd[1]
                                },
                                success: function (data) {
                                    if (data == "1") {
                                        $("#imgUndo_" + currProd[0] + "-" + currProd[1]).hide();
                                        $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).hide();
                                        $("#imgPrintA3Barcode_" + currProd[0] + "-" + currProd[1]).hide();

                                        $("#imgPrintBarcodeA_" + currProd[0] + "-" + currProd[1]).hide();
                                        $("#imgPrintBarcodeB_" + currProd[0] + "-" + currProd[1]).hide();
                                        $("#imgPrintSingleBarcode_" + currProd[0] + "-" + currProd[1]).hide();
                                        $("#imgSave_" + currProd[0] + "-" + currProd[1]).show();
                                        $("#txtDeliveryDate_" + + currProd[0] + "-" + currProd[1]).prop("disabled", false);
                                        $("#txtQuantity_" + + currProd[0] + "-" + currProd[1]).prop("disabled", false);
                                        $("#imgDelete_" + currProd[0] + "-" + currProd[1]).show();
                                        $("#imgPlan_" + currProd[0] + "-" + currProd[1]).show();
                                        $("#ddlReparto_" + currProd[0] + "-" + currProd[1]).prop("disabled", false);
                                    }
                                    else if (data == "2") { alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); }
                                    else if (data == "3") { alert("@ResListOrderProduct.ListOrderProduct.lblUserNotAuthorized"); }
                                    else if (data == "4") { alert("@ResListOrderProduct.ListOrderProduct.lblInputError"); }
                                    else if (data == "5") { alert("@ResListOrderProduct.ListOrderProduct.lblProductNotFound"); }
                                    else if (data == "0") { alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); }
                                },
                                statusCode: {
                                    404: function (content) { alert('cannot find resource'); },
                                    500: function (content) { alert('internal server error'); }
                                },
                                error: function (data) {
                                    alert("Error");
                                }

                            });
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });

                    $(".imgPlan").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            var endProductionDateStr = $("#txtEndProductionDate_" + currProd[0] + "-" + currProd[1]).val();
                            var deliveryDateStr = $("#txtDeliveryDate_" + currProd[0] + "-" + currProd[1]).val();
                            var endProductionDateArr = endProductionDateStr.split('/');
                            var endProductionDate = new Date(endProductionDateArr[2], endProductionDateArr[1] - 1, endProductionDateArr[0]);
                            var deliveryDateArr = deliveryDateStr.split('/');
                            var deliveryDate = new Date(deliveryDateArr[2], deliveryDateArr[1] - 1, deliveryDateArr[0]);

                            var department = $("#ddlReparto_" + currProd[0] + "-" + currProd[1]).val();
                            if (endProductionDate <= deliveryDate) {
                                if (endProductionDate >= (new Date())) {

                                    $.ajax({
                                        url: "@Url.Action("PlanProduct", "SalesOrder")",
                                        type: 'POST',
                                        data: {
                                            ProductID: currProd[0],
                                            ProductYear: currProd[1],
                                            DepartmentID: department,
                                            EndProductionDate: endProductionDate.getFullYear() + "-" + (endProductionDate.getMonth() + 1) + "-" + endProductionDate.getDate()
                                        },
                                        success: function (data) {
                                            if (data == "1") {
                                                $("#imgDelete_" + currProd[0] + "-" + currProd[1]).hide();
                                                $("#imgPlan_" + currProd[0] + "-" + currProd[1]).hide();
                                                $("#imgPrintBarcodeA_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgPrintBarcodeB_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgPrintSingleBarcode_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgPrintA3Barcode_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgSave_" + currProd[0] + "-" + currProd[1]).hide();
                                                $("#txtDeliveryDate_" + currProd[0] + "-" + currProd[1]).prop("disabled", true);
                                                $("#txtQuantity_" + currProd[0] + "-" + currProd[1]).prop("disabled", true);
                                                $("#imgUndo_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#ddlReparto_" + currProd[0] + "-" + currProd[1]).prop("disabled", true);
                                            }
                                            else if (data == "2") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorEndProductionDate"); }
                                            else if (data == "3") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorStatus"); }
                                            else if (data == "5") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorEndProductionDate"); }
                                            else if (data == "6") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorInProductCfg"); }
                                            else if (data == "7") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorEndProductionDate"); }
                                            else if (data == "8") { alert("@ResListOrderProduct.ListOrderProduct.lblUserNotAuthorized"); }
                                            else if (data == "0") { alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); }
                                        },
                                        statusCode: {
                                            404: function (content) { alert('cannot find resource'); },
                                            500: function (content) { alert('internal server error'); }
                                        },
                                        error: function (data) {
                                            alert("@ResListOrderProduct.ListOrderProduct.lblGenericError");
                                        }

                                    });
                                }
                                else {
                                    alert("@ResListOrderProduct.ListOrderProduct.lblDateError2");
                                }
                            }
                            else {
                                alert("@ResListOrderProduct.ListOrderProduct.lblDateError1");
                            }
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });

                    $(".imgReprogram").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            var endProductionDateStr = $("#txtEndProductionDate_" + currProd[0] + "-" + currProd[1]).val();
                            var deliveryDateStr = $("#txtDeliveryDate_" + currProd[0] + "-" + currProd[1]).val();
                            var endProductionDateArr = endProductionDateStr.split('/');
                            var endProductionDate = new Date(endProductionDateArr[2], endProductionDateArr[1] - 1, endProductionDateArr[0]);
                            var deliveryDateArr = deliveryDateStr.split('/');
                            var deliveryDate = new Date(deliveryDateArr[2], deliveryDateArr[1] - 1, deliveryDateArr[0]);

                            var department = $("#ddlReparto_" + currProd[0] + "-" + currProd[1]).val();
                            if (endProductionDate <= deliveryDate) {
                                if (endProductionDate > (new Date)) {
                                    $(this).fadeOut();

                                    $.ajax({
                                        url: "@Url.Action("ReprogramProduct", "SalesOrder")",
                                        type: 'POST',
                                        data: {
                                            ProductID: currProd[0],
                                            ProductYear: currProd[1],
                                            DepartmentID: department,
                                            EndProductionDate: endProductionDate.getFullYear() + "-" + (endProductionDate.getMonth() + 1) + "-" + endProductionDate.getDate()
                                        },
                                        success: function (data) {
                                            if (data == "1") {
                                              
                                                $("#lblModalInfo").html("@ResListOrderProduct.ListOrderProduct.lblDialogReplanOk");
                                                $("#lblModalInfo").dialog({
                                                    modal: true,
                                                    title: "Info",
                                                    //width: 300,
                                                    //height: 150,
                                                    open: function (event, ui) {
                                                        setTimeout(function () {
                                                            $("#lblModalInfo").dialog("close");
                                                        }, 2000);
                                                    }
                                                });

                                                $("#imgDelete_" + currProd[0] + "-" + currProd[1]).hide();
                                                $("#imgPlan_" + currProd[0] + "-" + currProd[1]).hide();
                                                $("#imgPrintBarcodeA_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgPrintBarcodeB_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgPrintSingleBarcode_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgPrintA3Barcode_" + currProd[0] + "-" + currProd[1]).show();
                                                $("#imgSave_" + currProd[0] + "-" + currProd[1]).hide();
                                                $("#txtDeliveryDate_" + currProd[0] + "-" + currProd[1]).prop("disabled", true);
                                                $("#txtQuantity_" + currProd[0] + "-" + currProd[1]).prop("disabled", true);
                                                $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).fadeIn();


                                            }
                                            else if (data == "2") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorInProductCfg"); }
                                            else if (data == "3") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorStatus"); }
                                            else if (data == "5") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorEndProductionDate"); }
                                            else if (data == "6") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorInProductCfg"); }
                                            else if (data == "7") { alert("@ResListOrderProduct.ListOrderProduct.lblErrorEndProductionDate"); }
                                            else if (data == "8") { alert("@ResListOrderProduct.ListOrderProduct.lblUserNotAuthorized"); }
                                            else if (data == "0") { alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); }
                                            $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).fadeIn();
                                        },
                                        statusCode: {
                                            404: function (content) { alert('cannot find resource'); $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).fadeIn();},
                                            500: function (content) { alert('internal server error'); $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).fadeIn();}
                                        },
                                        error: function (data) {
                                            alert("@ResListOrderProduct.ListOrderProduct.lblGenericError"); $("#imgReprogram_" + currProd[0] + "-" + currProd[1]).fadeIn();
                                        }

                                    });
                                }
                                else {
                                    alert("@ResListOrderProduct.ListOrderProduct.lblDateError2");
                                }
                            }
                            else {
                                alert("@ResListOrderProduct.ListOrderProduct.lblDateError1");
                            }
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });

                    $(".imgPrintBarcode").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            $.ajax({
                                url: "@Url.Action("PrintMultipleSheetsBarcodes", "SalesOrder")",
                                type: 'POST',
                                data: {
                                    ProductID: currProd[0],
                                    ProductYear: currProd[1]
                                },
                                success: function (data) {
                                    if (data.length > 0) {
                                        window.open("../.." + data, '_newtab');
                                    }
                                    else {
                                        alert("@ResListOrderProduct.ListOrderProduct.lblGenericError");
                                    }
                                },
                                statusCode: {
                                    404: function (content) { alert('cannot find resource'); },
                                    500: function (content) { alert('internal server error'); }
                                },
                                error: function (data) {
                                    alert("Error");
                                }

                            });
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });

                    $(".imgPrintSingleBarcode").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            $.ajax({
                                url: "@Url.Action("PrintSingleSheetsBarcodes", "SalesOrder")",
                                type: 'POST',
                                data: {
                                    ProductID: currProd[0],
                                    ProductYear: currProd[1]
                                },
                                success: function (data) {
                                    if (data.length > 0) {
                                        window.open("../.." + data, '_newtab');
                                    }
                                    else {
                                        alert("@ResListOrderProduct.ListOrderProduct.lblGenericError");
                                    }
                                },
                                statusCode: {
                                    404: function (content) { alert('cannot find resource'); },
                                    500: function (content) { alert('internal server error'); }
                                },
                                error: function (data) {
                                    alert("Error");
                                }

                            });
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });

                    $(".imgPrintA3Barcode").click(function () {
                        var currProd = $(this).val().split('.');
                        if ($.isNumeric(currProd[0]) && $.isNumeric(currProd[1])) {
                            $.ajax({
                                url: "@Url.Action("PrintSingleA3SheetsBarcodes", "SalesOrder")",
                                type: 'POST',
                                data: {
                                    ProductID: currProd[0],
                                    ProductYear: currProd[1]
                                },
                                success: function (data) {
                                    if (data.length > 0) {
                                        window.open("../.." + data, '_newtab');
                                    }
                                    else {
                                        alert("@ResListOrderProduct.ListOrderProduct.lblGenericError");
                                    }
                                },
                                statusCode: {
                                    404: function (content) { alert('cannot find resource'); },
                                    500: function (content) { alert('internal server error'); }
                                },
                                error: function (data) {
                                    alert("Error");
                                }

                            });
                        }
                        else {
                            alert("@ResListOrderProduct.ListOrderProduct.lblInputError");
                        }
                    });



                $('.imgDelete').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() != 'N') {
                        $(this).hide();
                    }
                });

                $('.imgPlan').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() != 'N') {
                        $(this).hide();
                        $("#ddlReparto_" + prod[1]).prop("disabled", true);
                    }
                });

                $('.imgReprogram').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() != 'I' && $("#status_" + prod[1]).val() != 'P') {
                        $(this).hide();
                    }
                });

                $('.imgUndo').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() != 'P') {
                        $(this).hide();
                    }
                });

                $('.imgPrintBarcode').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() == 'N') {
                        $(this).hide();
                    }
                });

                $('.imgPrintSingleBarcode').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() == 'N') {
                        $(this).hide();
                    }
                });

                $('.imgPrintA3Barcode').each(function () {
                    var id = this.id;
                    var prod = id.split('_');
                    if ($("#status_" + prod[1]).val() == 'N') {
                        $(this).hide();
                    }
                });

                    $('.imgSave').each(function () {
                        var id = this.id;
                        var prod = id.split('_');
                        if ($("#status_" + prod[1]).val() != 'N') {
                            $(this).hide();
                            $("#txtDeliveryDate_" + prod[1]).prop("disabled", true);
                            $("#txtQuantity_" + prod[1]).prop("disabled", true);
                    }
                });
                });
        </script>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@ResListOrderProduct.ListOrderProduct.lblProductID</th>
                            <th>@ResListOrderProduct.ListOrderProduct.lblProductName</th>
                            <th>@ResListOrderProduct.ListOrderProduct.lblQuantity</th>
                            <th>@ResListOrderProduct.ListOrderProduct.lblDeliveryDate</th>
                            <th>@ResListOrderProduct.ListOrderProduct.lblDepartment</th>
                            <th>@ResListOrderProduct.ListOrderProduct.lblEndProductionDate</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr id="trproduct_@m.ID-@m.Year">
                                <td>
                                    @m.ID/@m.Year
                                    <input type="hidden" class="status" id="status_@m.ID-@m.Year" value="@m.Status" />
                                </td>
                                <td>@m.Proc.process.processName - @m.Proc.variant.nomeVariante</td>
                                <td><input type="number" min="0" step="1" value="@m.Quantita" id="txtQuantity_@m.ID-@m.Year" style="width:60px;" /></td>
                                <td><input type="text" id="txtDeliveryDate_@m.ID-@m.Year" value="@m.DataPrevistaConsegna.ToString("dd/MM/yyyy")" /></td>
                                <td>
                                    <select id="ddlReparto_@m.ID-@m.Year">
                                        @{
                                            m.Proc.loadReparto();
                                            foreach (var rp in m.Proc.RepartiProduttivi)
                                            {
                                                if (m.Reparto == rp.id)
                                                {
                                                    <option value="@rp.id" selected>@rp.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@rp.id">@rp.name</option>
                                                }

                                            }
                                        }
                                    </select>
                                </td>
                                <td><input type="text" id="txtEndProductionDate_@m.ID-@m.Year" value="@m.DataPrevistaFineProduzione.ToString("dd/MM/yyyy")" /></td>
                                <td>
                                    <input type="image" src="~/img/iconSave.jpg" class="imgSave" name="imgSave" id="imgSave_@m.ID-@m.Year" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTSave" />
                                </td>
                                <td>
                                    <input type="image" src="~/img/iconDelete.png" class="imgDelete" name="imgDelete" id="imgDelete_@m.ID-@m.Year" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTDelete" />
                                </td>
                                <td>
                                    <input type="image" src="~/img/iconTimeline.jpg" class="imgPlan" name="imgPlan" id="imgPlan_@m.ID-@m.Year" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTPlan" />
                                </td>
                                <td>
                                    <input type="image" src="~/img/iconUndo.png" class="imgUndo" name="imgUndo" id="imgUndo_@m.ID-@m.Year" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTUndo" />
                                </td>
                                <td>
                                    <input type="image" src="~/img/iconChangePlan.png" class="imgReprogram" name="imgReprogram" id="imgReprogram_@m.ID-@m.Year" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTReprogram" />
                                </td>
                                <td>
                                    <input type="image" ID="imgPrintBarcodeA_@m.ID-@m.Year" class="imgPrintBarcode" src="~/img/iconBarcode.png" style="min-width:10px; max-width:15px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTPrintBarcode" /><br />
                                    <input type="image" ID="imgPrintBarcodeB_@m.ID-@m.Year" class="imgPrintBarcode" src="~/img/iconBarcode.png" style="min-width:10px; max-width:15px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTPrintBarcode" />
                                </td>
                                <td>
                                    <input type="image" ID="imgPrintSingleBarcode_@m.ID-@m.Year" class="imgPrintSingleBarcode" src="~/img/iconBarcode.png" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTPrintSingleBarcode" />
                                </td>
                                <td>
                                    <input type="image" ID="imgPrintA3Barcode_@m.ID-@m.Year" class="imgPrintA3Barcode" src="~/img/iconA3.gif" style="min-width:20px; max-width:30px;" value="@m.ID.@m.Year" title="@ResListOrderProduct.ListOrderProduct.lblTTPrintSingleBarcodeA3" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="lblModalInfo" />
    }
}