@model IEnumerable<KIS.App_Code.TaskProduzione>

@if(ViewBag.authW)
{
    <script>
        $(document).ready(function () {
            $(".delDefOp").click(function () {
                var val = $(this).val().split(';');

                $.ajax({
                        url: "@Url.Action("DeleteAssignedOperator", "SalesOrder")",
                        type: 'POST',
                        dataType: "html",
                        data: {
                            TaskID: val[0],
                            defOp: val[1]
                        },
                    success: function (result) {
                        if (result == 1) {
                            $("#view_" + val[0] + val[1]).fadeOut();
                        }
                        },
                        error: function (result) {

                        },
                        warning: function (result) {

                        }
                    });
            });
        });
    </script>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@ResAddSalesOrder.ListTasksDefOperators.lblTasks</th>
                <th>@ResAddSalesOrder.ListTasksDefOperators.lblAssignedOperators</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>
                        @{
                            m.loadAssignedOperators();
                            for (int i = 0; i < m.AssignedOperators.Count; i++)
                            {<div id="view_@m.TaskProduzioneID@m.AssignedOperators[i]">
                                    <input type="image" src="~/img/iconDelete.png" style="min-width:15px; max-width:20px;" value="@m.TaskProduzioneID;@m.AssignedOperators[i]" class="delDefOp" />@m.AssignedOperators[i]
                                </div>
                            }
                    }
                </td>
            </tr>
        }
        </tbody>
        </table>
}
