
@{
    ViewBag.Title = ResNC.FileUpload.lblTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ResNC.FileUpload.lblTitle</h3>
<ul class="breadcrumb hidden-phone">
    <li>
        <a href="~/Quality/Home/Index">
            @Resources.Shared.lblNavQuality
        </a>
        <span class="divider"></span>
    </li>
    <li>
        <a href="~/Quality/NonCompliances/Index?stat=O&sortOrder=init">
            @Resources.Shared.lblNavNonCompliances
        </a>
        <span class="divider"></span>
    </li>
@if (Model != null)
{
    <li>
        <a href="~/Quality/NonCompliances/Update?ID=@Model.ID&Year=@Model.Year">
            @Resources.Shared.lblNavUpdate
        </a>
        <span class="divider"></span>
    </li>
}
</ul>
@ViewBag.Message

@{var res = ViewBag.result;
    if (res == 0)
    {
        <div>@ResNC.FileUpload.lblRes0</div>
    }
    else if (res == 1)
    {
        <div>@ResNC.FileUpload.lblRes1</div>
    }
    else if (res == 2)
    {
        <div>@ResNC.FileUpload.lblRes2</div>
    }
    else if (res == 3)
    {
        <div>@ResNC.FileUpload.lblRes3</div>
    }
    else if (res == 4)
    {
        <div>@ResNC.FileUpload.lblRes4</div>
    }
    else if (res == 5)
    {
        <div>
            @ResNC.FileUpload.lblRes5<br />
            ".doc", ".docx", ".log", ".msg","odt.",".pages",".rtf",".tex",".txt",
            ".csv",".dat",".key",".ppt",".pptx",".pps",".xml",
            ".3gp",".avi",".mp4",".mpg",".mov",".wmv",
            ".bmp",".gif",".jpg",".jpeg",".png",".tif",".tiff",
            ".xls",".xlsx",
            ".dbf",".mdb",".sql",
            ".dwg",".dxf",
            ".htm",".html"
        </div>
    }

 }