
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ResAddWorkspaceForm.AddWorkspaceForm.lblTitle</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <link href="~/Styles/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />

    <script src="~/Styles/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
    <script src="~/Styles/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Styles/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/assets/css/bootstrap-responsive.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $("#btnCreateWs").click(function () {
                console.log("Ws name: " + $("#wsname").val());
                if ($("#frmws")[0].checkValidity()) {
                    console.log("Ok");
                }
                else {
                    console.log("Form invalid");
                    $("#frmws")[0].reportValidity();
                }
                return false;
            });
        });
    </script>

</head>
<body>
    <div class="row-fluid">
        <div class="span12"><h3>@ResAddWorkspaceForm.AddWorkspaceForm.lblTitle</h3></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <form id="frmws">
                @ResAddWorkspaceForm.AddWorkspaceForm.lblWorkspaceName&nbsp;
                <input type="text" pattern="[A-Za-z]+" class="form-control" id="wsname" placeholder="@ResAddWorkspaceForm.AddWorkspaceForm.lblWorkspaceName" required />
                <input type="submit" id="btnCreateWs" value="@ResAddWorkspaceForm.AddWorkspaceForm.lblBtnCreateWorkspace" />
            </form>
        </div>
    </div>
</body>
</html>
