@model KIS.App_Sources.UserAccount

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ResAccountsMgm.AddWorkspaceForm.lblTitle</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <link href="~/Styles/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />

    <script src="~/Styles/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
    <script src="~/Styles/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Styles/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/assets/css/bootstrap-responsive.css" rel="stylesheet" />

</head>
<body>
    @if (Model != null)
    {
    <script>
        $(document).ready(function () {
            $("#btnCreateWs").click(function () {
                console.log("Ws name: " + $("#wsname").val());
                if ($("#frmws")[0].checkValidity()) {
                    console.log("Ok");

                    $.ajax({
                        url: "@Url.Action("AddWorkspace", "Account")",
                        type: 'POST',
                        data: {
                            ws_name: $("#wsname").val(),
                        },
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (result) { alert("Error " + result); },
                        warning: function (result) { alert("Warning " + result); },
                    });
                }
                else {
                    console.log("Form invalid");
                    $("#frmws")[0].reportValidity();
                }
                return false;
            });

            $(".btnAcceptInvite").click(function () {
                console.log("Accepting invite...");
                var swsid = $(this).prop("id");
                var awsid = swsid.split('_');
                var wsid = awsid[1];
                console.log("wsid " + wsid);

                if (wsid != "") {
                    $.ajax({
                        url: "@Url.Action("AcceptWorkspaceInvitation", "Account")",
                        type: 'POST',
                        data: {
                            workspace: wsid,
                            user: @Model.id
                        },
                        success: function (result) {
                            console.log(result);
                            if (result == "1") {
                                console.log("Ok!");
                            }
                        },
                        error: function (result) { alert("Error " + result); },
                        warning: function (result) { alert("Warning " + result); },
                    });
                }

                });


        });
    </script>

    <div class="row-fluid">
        <div class="span12"><h3>@ResAccountsMgm.AddWorkspaceForm.lblPendingInvites</h3></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <table class="table">
                @{ 
                    Model.loadWorkspaceInvites();
                    foreach(var invite in Model.WorkspaceInvites)
                    {
                        <tr>
                            <td>@invite.WorkspaceName</td>
                            <td>@invite.SentDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                            <td><span class="material-icons btnAcceptInvite" id="btnAcceptInvite_@invite.WorkspaceId" style="cursor: pointer;">done</span></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12"><h3>@ResAccountsMgm.AddWorkspaceForm.lblTitle</h3></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <form id="frmws">
                @ResAccountsMgm.AddWorkspaceForm.lblWorkspaceName&nbsp;
                <input type="text" pattern="[A-Za-z]+" class="form-control" id="wsname" placeholder="@ResAccountsMgm.AddWorkspaceForm.lblWorkspaceName" required />
                <input type="submit" id="btnCreateWs" value="@ResAccountsMgm.AddWorkspaceForm.lblBtnCreateWorkspace" />
            </form>
        </div>
    </div>
    }
    else
    {
        <div>User is null</div>
    }
</body>
</html>
