@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfterLogin</title>
</head>
<body>
    <div>
        @ViewBag.log
        <br />
        <br />
        @ObjectInfo.Print(User)
        <br />
        <br />
        @ObjectInfo.Print(User.Identity)

    </div>
    @if (ViewBag.redirectUrl != null)
    {
        <div>@Model</div>
        <script>
         window.location.href = "@ViewBag.redirectUrl";
        </script>
    }
    else
    {
        <div>Afterlogin - Model is null</div>
    }
</body>
</html>
