@model IEnumerable<KIS.App_Sources.WorkspaceInvite>
@{
    ViewBag.Title = ResAccountMgm.ViewInvites.lblTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ResAccountMgm.ViewInvites.lblTitle</h3>

@if(ViewBag.authW && Model!=null)
{
    if(Model.Count()>0)
    {
        <script>
            $(document).ready(function(){
                $("#btnAcceptInvite").click(function () {
                    if ($("#frmws")[0].checkValidity() && $("#txtmail").val().length > 0) {
                        var mail = $("#txtmail").val();
                        console.log("Invite user " + mail);
                        $.ajax({
                            url: "@Url.Action("AcceptInvite", "Workspaces")",
                            type: 'POST',
                            data: {
                                workspace: 0, 
                                mail: mail
                            },
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (result) { alert("Error " + result); },
                            warning: function (result) { alert("Warning " + result); },
                        });
                    }
                    else {
                        console.log("Form invalid");
                        $("#frmws")[0].reportValidity();
                    }
                });
            });
        </script>

<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@ResAccountMgm.ViewInvites.lblTHWorkspaceName</th>
                    <th>@ResAccountMgm.ViewInvites.lblTHSentDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.WorkspaceName</td>
                        <td>@m.SentDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td><span class="material-icons btnAcceptInvite" id="btnAcceptInvite_@m.WorkspaceId" style="cursor: pointer;">done</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                @ResAccountMgm.ViewInvites.lblNoPendingInvites
            </div>
        </div>
    }
}
else
{
<div class="row-fluid">
    <div class="span12">
        @ResAccountMgm.ViewInvites.lblErrorAuth
    </div>
</div>    
}

