
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.authR)
{

    <link rel="stylesheet" href="~/Content/octicons.css" />

    <style>
        #graph {
            /* Just an example */
            height: 800px;
            width: 600px;
        }

            #graph svg {
                height: 100%;
                width: auto;
            }

        .graph {
            /* Just an example */
            height: 100%;
            width: 100%;
        }

           .graph svg {
                height: 100%;
                width: 100%;
            }
    </style>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="http://viz-js.com/bower_components/viz.js/viz-lite.js"></script>
    <script src="https://github.com/magjac/d3-graphviz/releases/download/v0.1.2/d3-graphviz.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#imgLinkProductToOrderLoad").fadeOut();
            $("#averagePanel").fadeOut();
            $("#medianPanel").fadeOut();
            $("#totalPanel").fadeOut();
            $("#frequencyPanel").fadeOut();

            $("#imgViewProcess").click(function () {
                $("#averagePanel").fadeOut();
                $("#medianPanel").fadeOut();
                $("#totalPanel").fadeOut();
                $("#frequencyPanel").fadeOut();

                var g = $('#ddlProducts').val();
                var id = $("#ddlProductsList option[value='" + g + "']").attr('data-id');
                //alert(id);
                if (id != null && id.length > 0) {
                    var arr = id.split('/');
                    if (arr.length == 3) {
                        $("#imgLinkProductToOrderLoad").fadeIn();
                        var prodname = arr[0] + "_" + arr[1] + "_" + arr[2];

                        var graphchose = $("#chkGraphAverage").prop("checked") ||
                            $("#chkGraphMedian").prop("checked") ||
                            $("#chkGraphTotal").prop("checked") ||
                            $("#chkGraphFrequency").prop("checked");

                        if (!graphchose) {
                            alert("Please choose at least one graph type");
                        }

                        if ($("#chkGraphAverage").prop("checked") == true) {
                            $("#averageGraph").html('');
                            render(prodname + "_MEAN.dot", "averageGraph");
                            $("#averagePanel").fadeIn();
                        }
                        if ($("#chkGraphMedian").prop("checked") == true) {
                            $("#medianGraph").html('');
                            render(prodname + "_MEDIAN.dot", "medianGraph");
                            $("#medianPanel").fadeIn();
                        }
                        if ($("#chkGraphTotal").prop("checked") == true) {
                            $("#totalGraph").html('');
                            render(prodname + "_TOTAL.dot", "totalGraph");
                            $("#totalPanel").fadeIn();
                        }
                        if ($("#chkGraphFrequency").prop("checked") == true) {
                            $("#freqGraph").html('');
                            render(prodname + "_FREQUENCY.dot", "freqGraph");
                            $("#frequencyPanel").fadeIn();
                        }

                    }
                    else {
                        alert("Split error");
                    }
                }
                else {
                    alert("@ResProcessMining.Index.lblErrorSelectProduct");
                }
            });

            function render(product, container) {

                $.get("../../Data/dotGraphs/" + product)
                    .done(function (data) {
                        d3.select("#"+container).graphviz().renderDot(data);
                    }).fail(function () {
                        $.get("../../Data/dotGraphs/" + product)
                            .done(function (data) {
                                d3.select("#" + container).graphviz().renderDot(data);
                            }).fail(function () {
                                alert("Process diagram not found");
                            });
                    });

                $("#imgLinkProductToOrderLoad").fadeOut();
            }
        });
    </script>

    <div class="row-fluid">
        <div class="span12">
            @ResProcessMining.Index.lblChooseProduct
            <input list="ddlProductsList" id="ddlProducts">
            <datalist id="ddlProductsList">
                @{KIS.App_Code.ElencoProcessiVarianti el = new KIS.App_Code.ElencoProcessiVarianti(true);
                    var sortedProducts = el.elencoFigli.OrderBy(x => x.NomeCombinato);
                    foreach (var prd in sortedProducts)
                    {
                        <option data-id="@prd.IDCombinato2" value="@prd.process.processName - @prd.variant.nomeVariante"></option>
                    }
                }
            </datalist><br />
            <input type="checkbox" id="chkGraphAverage" />@ResProcessMining.Index.lblAverageCT
            <input type="checkbox" id="chkGraphMedian" />@ResProcessMining.Index.lblMedianCT
            <input type="checkbox" id="chkGraphTotal" />@ResProcessMining.Index.lblTotalCT
            <input type="checkbox" id="chkGraphFrequency" />@ResProcessMining.Index.lblFrequency
            <br />
            <input type="image" src="~/img/iconLoading.gif" style="min-width:20px; max-width:30px;" id="imgLinkProductToOrderLoad" />
            <button type="button" id="imgViewProcess" class="btn btn-default" aria-label="See the graph">
                <span class="octicon octicon-search"></span>
            </button>


        </div>
    </div>
    <div></div>
    
    <div class="row-fluid" id="averagePanel">
        <div class="span12">
            <h3>@ResProcessMining.Index.lblTitleAvgTC</h3>
            <div class="graph" id="averageGraph"></div>
        </div>
    </div>
        
    <div class="row-fluid" id="medianPanel">
        <div class="span12">
            <h3>@ResProcessMining.Index.lblTitleMedianTC</h3>
            <div id="medianGraph" class="graph"></div>
        </div>
    </div>
    <div class="row-fluid" id="totalPanel">
        <div class="span12">
            <h3>@ResProcessMining.Index.lblTitleTotalTC</h3>
            <div id="totalGraph" class="graph"></div>
        </div>
    </div>
    <div class="row-fluid" id="frequencyPanel">
        <div class="span12">
            <h3>@ResProcessMining.Index.lblTitleFrequency</h3>
            <div id="freqGraph" class="graph"></div>
        </div>
    </div>
}
else
{
    <div class="row-fluid">
        <div class="span12">
            User not authorized.
        </div>
    </div>
}
