
@{
    ViewBag.Title = ResWebGemba.Index.lblTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ResWebGemba.Index.lblTitle</h3>

<ul class="breadcrumb hidden-phone">
    <li>
        <a href="@Request.RawUrl">@ResWebGemba.Index.lblNavWorkplace</a><span class="divider"></span></li>
    <li>
        <a href="@Request.RawUrl">@ResWebGemba.Index.lblNavWebGemba</a><span class="divider"></span></li>
</ul>
@if (ViewBag.authX)
{
    <script>
        $(document).ready(function () {
            loadWorkstationsActives();
            loadWorkstationsComplete();

            function loadWorkstationsComplete()
            {
                $.ajax({
                    url: "@Url.Action("ListWorkstationsComplete", "WebGemba")",
                    type: 'GET',
                    dataType: "html",
                    data: {
                    },
                    success: function (result) {
                        $("#frmListWorkstations").html(result);
                    },
                    error: function (result) {
                        //alert("Error");
                        //$("#frmListWorkstations").html("Error");
                    },
                    warning: function (result) {
                        //alert("Warning");
                        //$("#frmListWorkstations").html("Warning");
                    }
                });

                var loadWstCmpl = setTimeout(loadWorkstationsComplete, 6000);
            }

            function loadWorkstationsActives()
            {
                $.ajax({
                    url: "@Url.Action("ListWorkstationsActives", "WebGemba")",
                    type: 'GET',
                dataType: "html",
                data: {
                },
                success: function (result) {
                    $("#frmListActiveWorkstations").html(result);
                },
                error: function (result) {
                    //alert("Error");
                    //$("#frmListActiveWorkstations").html("Error");
                },
                warning: function (result) {
                    //alert("Warning");
                    //$("#frmListActiveWorkstations").html("Warning");
                }
            });

                var loadWstAct = setTimeout(loadWorkstationsActives, 6000);
        }
        });
    </script>
    <div class="row-fluid">
        <div class="span6">
            <div id="frmListWorkstations"></div>
        </div>
        <div class="span6">
            <div id="frmListActiveWorkstations"></div>
        </div>
    </div>
}
else
{
<div class="row-fluid">
    <div class="span12">
        @ResWebGemba.Index.lblErrAuth<br />
        <a href="~/login/login.aspx?red=/WorkPlace/WebGemba/Index">@ResWebGemba.Index.lblClickHere</a>
    </div>
</div>
}